* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: rgb(254, 254, 254);
  margin-bottom: 30px;
}

.board {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.column {
  background: #ffffff;
  padding: 15px;
  width: 280px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.column h2 {
  text-align: center;
}

.tasks {
  min-height: 120px;
  margin-bottom: 10px;
}

.add-btn {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background: #c8ff00;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.add-btn:hover {
  background: #b7d930;
}
.task {
  background: #e0e0e0;
  padding: 8px;
  margin-bottom: 6px;
  border-radius: 4px;
}
.task button {
  margin-left: 5px;
  cursor: pointer;
}
